.post-for-grid {
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.per-post-grid {
    max-width: 315px;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* border: 1px solid white; */
}

.grid-per-post {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.grid-per-post:hover {
    opacity: 0.4;
    cursor: pointer;
}


.grid-per-post img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    border-radius: 6px;
}

.grid-per-post div,
.grid-per-post video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}