/* .alert-module {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
}
.alert-module-inner {
    min-width: 30%;
    width: auto;
    height: 50%;
    background-color: rgba(188, 61, 61, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */


.alert-message-container {
    background-color: rgba(181, 181, 181);
    width: fit-content;
    width: auto;
    height: fit-content;
    padding: 20px;
    color: #000;
    display: flex;
    /* flex-direction: row; */
    /* gap: 13px; */
    /* justify-content: center;
    align-items: center; */
    border-radius: 6px;
    position: absolute;
    top: 725px;
    left: 25px;
}

.alert-message-container-inner {
    background-color: rgba(183, 14, 14, 0);
    /* width: 85%; */
    height: 100%;
    margin-left: 5px;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alert-message-dismiss {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: rgba(0, 128, 0, 0);
    /* flex-grow: 1; */
    height: 100%;
    font-size: 23px;
    cursor: pointer;
    font-style: normal;
    position: relative;
    top: -10px;
    left: 10px;
}
