.quanta-sidebar {
    width: 85px;
    height: 100%;
    background-color: rgba(96, 96, 96, 0);
    padding: 1.5em 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
}

.sidebar-item {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.454);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
}

.sidebar-item-inner {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.0em;
    box-sizing: border-box;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.sidebar-item-inner:hover {
    background-color: rgba(0, 123, 131, 0.519);
    cursor: pointer;
}

.sidebar-item-inner .icon-style {
    margin: 0;
    padding: 0;
    color: rgb(162, 162, 162);
    transition: color 0.3s ease;
    font-size: 1.3em;
}
.sidebar-item-inner:hover .icon-style {
    color: white;
}