.search-sidebar-container {
    position: absolute;
    height: 90%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    z-index: 4;
    transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 0;
    visibility: hidden;
    left: 73px;
    top: 83px;
    box-shadow: 6px 0px 5px 1px rgba(68, 68, 68, 0.548);
    display: flex;
    border-top-right-radius: 10px;
}

.search-sidebar-container.show {
    width: 350px;
    visibility: visible;
}

.search-sidebar-title {
    width: 100%;
    background-color: rgb(0, 4, 128, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-sidebar-title-inner {
    text-align: left;
    width: 90%;
    background-color: rgba(0, 128, 0, 0);
}

.sidebar-search-container {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 0.5px solid rgb(86, 86, 86);
}
.sidebar-search-bar-container {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-search-bar-container input {
    background-color: rgba(50, 50, 50, 0.769);
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 8px;
    border: 0;
    padding: 5px;
    padding-left: 9px;
    padding-right: 30px;
    font-size: 16px;
    outline: none;
}

.clear-search-icon {
    position: absolute;
    right: 24px;
    top: 53%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    font-size: 19px;
}

.sidebar-search-bar-container input:focus {
    box-shadow: 0px 0px 4px 2px rgb(94, 94, 94);
}



.sidebar-search-show-users-search {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 2%;
}

.sidebar-search-show-users-search-inner {
    width: 93%;
    height: 98%;
    background-color: rgb(0, 255, 149, 0);
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-search-history-results {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 100%;
}
.sidebar-search-history-title {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.sidebar-search-history-title h4 {
    width: 100%;
    background-color: blue;
    line-height: 0;
}


/* .sidebar-search-show-users-search-inner a {
    width: 100%;
    height: 58px;
    background-color: rgb(255, 0, 238, 0);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.users-search-list-item {
    border-radius: 8px;
    width: 100%;
    height: 58px;
    background-color: rgb(255, 0, 238, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.users-search-list-item:hover {
    background-color: rgba(83, 83, 83, 0.451);
    cursor: pointer;
}

.users-search-list-item-inner {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.users-search-list-item-profile-picture {
    width: 45px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-search-list-item-profile-picture-inner {
    height: 95%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.users-search-list-item-profile-picture-inner img {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.users-search-list-item-username {
    background-color: rgba(0, 0, 255, 0);
    flex-grow: 1;
    text-align: left;
}


.clear-search-history-result-container {
    background-color: rgba(0, 255, 200, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    transition: left 0.4s ease, visibility 0.2s ease;
    visibility: hidden;
}
.clear-search-history-result-container.show {
    left: 300px;
    visibility: visible;
}

.clear-search-history-result:hover {
    color: rgb(255, 255, 255);
}

.clear-search-history-result {
    background-color: rgba(255, 0, 0, 0);
    font-size: 23px;
    position: relative;
    color: gray;
}
