.settings-page {
    background-color: rgb(0, 34, 128, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 30px;
    box-sizing: border-box;
}



.settings-left-panel {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    gap: 25px;
    padding: 32px 5px 20px 5px;
    box-sizing: border-box;
    box-shadow: 4px 0px 5px 0px rgba(128, 128, 128, 0.115);
    overflow-y: auto;
    flex-shrink: 0;
}

.settings-left-panel section {
    background-color: rgba(255, 255, 0, 0);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.283);
    padding: 0px 0px 15px 0;
}
.settings-left-panel section:last-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0);
}

.settings-left-panel section h3 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    align-self: flex-start;
    color: rgb(186, 186, 186);
}

.settings-left-panel section > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgba(73, 109, 133, 0);
}
.settings-left-panel section div div {
    background-color: rgba(255, 0, 0, 0);
    width: 95%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.settings-left-panel section div div:hover {
    background-color: rgba(128, 128, 128, 0.402);
    cursor: pointer;
}

.settings-left-panel section  div div p {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: rgb(201, 201, 201);
}





.settings-right-panel {
    height: 100%;
    flex-grow: 1;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    padding: 30px 30px;
    box-sizing: border-box;
}

.settings-right-panel h2 {
    align-self: flex-start;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}




.settings-customization-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exit-customization {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgba(128, 128, 128, 0.288);
    color: white;
    font-size: 1em;
    transition: border 0.3s ease, backgroundo-color 0.3s ease;
    z-index: 3;
}

.exit-customization:hover {
    background-color: rgba(0, 50, 56, 0.253);
    cursor: pointer;
    border: 1px solid rgba(0, 255, 255, 0.597);
}