.openspace-entry {
    width: 99.5%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
}



.entry-right-panel {
    width: 280px;
    height: 100%;
    background-color: rgb(0, 255, 221, 0);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    perspective: 1000px;
    position: fixed;
    right: 10px;
}


.entry-right-panel-inner {
    position: fixed;
    margin-top: 20px;
    width: 92%;
    height: 88vh;
    background-color: rgba(65, 65, 65, 0.289);
    box-shadow: 0 0px 0px 0px rgba(128, 128, 128, 0.243);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    transition: transform 0.4s ease-in-out;
}



.entry-center-panel {
    height: 100%;
    width: 900px;
    margin-left: 270px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.entry-center-panel-content {
    width: 100%;
    /* height: 100%; */
    padding: 24px 30px;
    background-color: rgba(0, 128, 0, 0);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.entry-center-panel-title {
    background-color: rgba(131, 131, 131, 0.188);
    backdrop-filter: blur(60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* min-height: 25px; */
    max-height: 90px;
    overflow: hidden;
    border-radius: 8px;
    padding: 8px 10px;
    box-sizing: border-box;
}

.entry-center-panel-title h2 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: rgb(231, 231, 231);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.entry-center-panel-context {
    background-color: rgba(131, 131, 131, 0.188);
    backdrop-filter: blur(60px);
    border-radius: 8px;
    width: 100%;
    /* min-height: 30px; */
    max-height: 530px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 10px;
    box-sizing: border-box;
    /* overflow-y: auto; */
}
.entry-center-panel-context div {
    width: 100%;
    height: 100%;
    margin: 0;
    /* margin-bottom: 10px; */
    overflow: auto;
    padding: 0;
    color: rgb(213, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.entry-center-panel-controls-and-info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.entry-center-panel-controls {
    background-color: rgba(131, 131, 131, 0.188);
    backdrop-filter: blur(60px);
    border-radius: 8px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
    padding: 0px 8px;
}


.entry-control-icon {
    font-size: 18px;
}

.entry-center-panel-info {
    flex-grow: 1;
    height: 100%;
    background-color: rgba(131, 131, 131, 0.188);
    backdrop-filter: blur(60px);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 12px;
    box-sizing: border-box;
}

.entry-center-panel-info-content {
    height: 100%;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: 2px;
    font-family: 'Orbitron', monospace;
}
.entry-center-panel-info-content p:first-child {
    padding: 0;
    margin: 0;
    color: rgb(174, 174, 174);
    font-size: 11px;
}

.entry-center-panel-info-content p:nth-child(2),
.entry-center-panel-info-content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0);
    height: 28px;
    box-sizing: border-box;
    gap: 5px;
}
.entry-center-panel-info-content a img {
    height: 100%;
    aspect-ratio: 1 / 1;
}
.entry-center-panel-info-content a,
.entry-center-panel-info-content p:nth-child(2) {
    padding: 0;
    margin: 0;
    color: rgb(174, 174, 174);
    font-size: 13px;
}

.entry-center-panel-info-content a:hover {
    color: white;
}


.entry-page-write-comment-container {
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: rgba(131, 131, 131, 0.188);
    backdrop-filter: blur(60px);
    border-radius: 8px;
    padding: 0px 0px;
    margin-top: -10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry-page-write-comment-container.open {
    opacity: 1;
    visibility: visible;
    height: 360px;
    box-sizing: border-box;
    margin-top: 0px;
}


.entry-center-panel-no-comments {
    width: 100%;
    flex-grow: 1;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(169, 169, 169);
    border-top: 1px solid gray;

}

.entry-center-panel-comments {
    /* background-color: rgba(131, 131, 131, 0.245); */
    background-color: rgba(73, 73, 73, 0.294);
    border: 1px solid rgba(128, 128, 128, 0.259);
    backdrop-filter: blur(60px);
    border-radius: 8px;
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 4px 0px;
    box-sizing: border-box;
}



.entry-center-panel-per-comment {
    width: 100%;
    min-height: 90px;
    background-color: rgba(255, 0, 0, 0);
    padding: 6px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}
.entry-center-panel-per-comment:last-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0);
}


.entry-comment-info {
    background-color: rgba(0, 128, 0, 0);
    /* height: 40px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.entry-comment-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    height: 35px;
}
.entry-comment-author a {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.entry-comment-author a img {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.entry-comment-author p {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(200, 200, 200);
    font-family: monospace;
    font-size: 13px;
}
.entry-comment-author p:hover {
    color: white;
    cursor: pointer;
}

.entry-comment-content {
    background-color: rgba(128, 0, 128, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 35px;
    box-sizing: border-box !important;
}

.entry-comment-content p {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    color: rgb(213, 213, 213);
}


.entry-comment-controls {
    background-color: rgba(0, 128, 0, 0);
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0px 30px;
    font-size: 18px;
    box-sizing: border-box;

}


.entry-write-comment-reply {
    
    margin-top: -16px;
}





.entry-comment-reply-container {
    background-color: rgba(0, 128, 0, 0);
    width: 100%;
    min-height: 150px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box !important;
}

.entry-comment-per-reply {
    background-color: rgb(0, 109, 128, 0);
    min-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.14);
    padding: 20px 0px;
    box-sizing: border-box !important;
}

.entry-comment-per-reply-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    height: 35px;
}
.entry-comment-per-reply-author a {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.entry-comment-per-reply-author a img {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.entry-comment-per-reply-author p {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(200, 200, 200);
    font-family: monospace !important;
    font-size: 13px;
}
.entry-comment-per-reply-author p:hover {
    color: white;
    cursor: pointer;
}

.entry-comment-per-reply-content {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(90, 0, 128, 0);
    padding: 1px 35px;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
}






.entry-comment-per-reply-controls {
    background-color: rgba(0, 128, 0, 0);
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0px 35px;
    box-sizing: border-box;
    font-size: 17px;

}


.entry-comment-per-sub-reply-write {
    margin-top: -16px;
}
